<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>飯店搜尋結果</title>
	<link rel="stylesheet" href="\static\css\hotels.css">
</head>

<body>
<header class="header-outer">
	<div class="header-inner responsive-wrapper">
		<div class="header-logo">
			<a class="download" href="/getCSV/">下載csv</a>
			<a class="download" href="/plot/">空房數量與價格分析</a>
			<a class="download" href="/recommendation/">精選</a>
      <a class="download" href="/api/Agoda/" target="__blank">DRF API</a>
      <a class="download" href="/swagger/" target="__blank">Swagger API</a>
		</div>
		<nav class="header-navigation">
			<a href="{% url 'form' %}" target="__blank">回首頁</a>
		</nav>
	</div>
</header>
  

{% for hotel in result %}   
  <div class="container page-wrapper">
    <div class="page-inner">
      <div class="row">
        <div class="el-wrapper" href="{{hotel.link_url}}" target="__blank">
          <div class="box-up">
            <img class="img" src="{{hotel.photo_url}}" alt="">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name">{{hotel.title}}</span>
                <span class="p-company">區域:{{hotel.loc}}</span>
              </div>
              <div class="a-size">星級 : <span class="size">{{hotel.rate}}</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="{{hotel.link_url}}" target="__blank">
              <span class="price">${{hotel.price}}</span>
              <span class="add-to-cart">
                <span class="txt">訂房</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %} 


<div style="clear:both;height: 5px"></div>
<div>{{pagination.links}}</div>

</body>
</html>